#menu1 li {
	list-style-type: none;
	display: inline-block;
	border: 1px solid #BE3144;
}

#menu1 ul {
	background-color: #BE3144;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
	display: flex;
	justify-content: right;
	align-items: center;
	text-align: center;
	
}

#menu1 {
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
}

#menu1 a {
	display: block;
}

#menu1 a:link,#menu a:visited {
	color:white;
	text-decoration: none;
	display: block;
	background: #BE3144;
	line-height: 35px;
	padding: 5px 15px;
}

#menu1 a:hover {
	background-color:#45567D;
	color: #BE3144;
	text-decoration: none;
}

h1 {
    
    text-align: center;
    color:white;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}


body {
    background-color:#303841 ;
}